.home-content {
    background-color: rgba(251, 251, 251, 1);
    margin-top: 50px;
    margin-left: 74px;
    padding: 32px 48px;
    display: flex;
    gap: 24px;

    @media screen and (max-width: 768px){
        display: block;
        padding: 16px 24px;
    }

    .left, .right {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}