.home-content {
    // background-color: rgba(255, 0, 0, 0.491);
    margin-top: 50px;
    margin-left: 74px;
    padding: 32px 48px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
        padding: 16px 24px;
    }
}