.leaderboard-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .leader-header {
        text-align: center;
        min-height: 84px;
        border-radius: 8px;
        border: 2px solid rgba(236, 240, 255, 1);

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;

        .leader-title {
            margin: 0;
            padding: 0;
            font-family: "Nunito Sans";
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;

            display: flex;
            justify-content: center;
            gap: 6px;

            span {
                font-family: "Rock Salt";
                font-size: 22px;
                font-weight: 400;
                line-height: 28px;
                color: rgba(151, 71, 255, 1);
            }
        }
        .leader-subtitle {
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            color: rgba(111, 121, 121, 1);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            cursor: default;
            
            span {
                cursor: pointer;
                color: rgba(32, 161, 157, 1);
                text-decoration: underline;
                text-underline-offset: 4px;
                font-family: "Lato";
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                
            }
        }
    }

    .leader-cards {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .leader-card {
            max-width: 814.5px;
            height: 40px;
            border-radius: 5px;        
            display: flex;
            align-items: center;
            gap: 16px;
    
            .leader-medal {
                width: 55px;
                height: 12px;
                padding: 14px;
                // gap: 4px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
    
    
                position: relative;
                img {
                    position: absolute;
                    top: 4.45px;
                    right: 4.45px;
                    width: 14px;
                    height: 18.62px;
    
                }
    
                p {
                    font-family: "Lato";
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    color: rgba(41, 50, 50, 1);
    
                }
            }
    
            .leader-info {
                width: 100%;
    
                h3 {
                    padding: 0;
                    margin: 0;
                    font-family: 'Lato';
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    color: rgba(86, 96, 96, 1);
                }
            }

            .leader-counter {
                min-width: 104px;
                height: 40px;
                font-family: 'Lato';
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: rgba(41, 50, 50, 1);
                background-color: rgba(251, 251, 251, 1);

                border-radius: 5px;
                
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;

                p {
                    margin: 0;
                    padding: 0;
                }

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .leader-intersection {
        width: 100%;
        height: 16px;
        gap: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .line {
            width: 376px;
            // width: 100%;
            height: 0px;
            border: 1px solid rgba(245, 247, 249, 1)
        }
        p {
            width: 50px;
            height: 16px;
            padding: 6px;
            gap: 4px;
            border-radius: 12px;
            font-family: 'Lato';
            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
            color: rgba(86, 96, 96, 1);
        }
    }
}